---
layout: archive
title: "Misc."
permalink: /misc/
author_profile: false
---
<strong>Poetry</strong>
<br />
The following is a collection of poems I developed for use in the game "Blood
on the Clocktower." In this game, players die mysteriously in the night, which
can be announced the next morning via one of these poems, filling in the blank
with the player's name. 

Just like the game, the poems are rather macabre.

<a href="../../files/geometric_deaths.pdf">Geometric Deaths</a>


<strong>Memes</strong>
<br />
If you'd like to read more about the social or mathematical meaning
behind an image, click the discussion link above the image.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

